*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/client_secret_1056909164370-o708v92m0v0j89d4eeu2apvh4d3hbu7j.apps.googleusercontent.com.json
app/src/main/res/values/strings.xml